<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:jpa="http://www.springframework.org/schema/data/jpa"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:tx="http://www.springframework.org/schema/tx"
             xmlns:jms="http://www.springframework.org/schema/jms"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
             		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-2.0.xsd
             		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
             		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
             		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.1.xsd
             		">
    
    <!-- *************************************************** BD *************************************** -->
    	
    <context:annotation-config /> 
    	
    <context:component-scan base-package="consultorio.lgm" />
  
    <tx:annotation-driven transaction-manager="transactionManager" />
 
    <!-- Procesa las anotaciones PersistenceUnit y PersistenceContext -->
    <beans:bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

    <beans:bean id="lgmDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <beans:property name="jndiName" value="java:/comp/env/jdbc/consultorio_lgm" />
    </beans:bean>
        
    <beans:bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <beans:property name="entityManagerFactory" ref="entityManagerFactory" />
    </beans:bean>
    	
    <!--beans:bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/-->
		
    <beans:bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <beans:property name="dataSource" 				ref="lgmDataSource" />
        <beans:property name="persistenceXmlLocation" 	value="classpath:/META-INF/persistence.xml" />
        <!--beans:property name="jpaVendorAdapter" 		ref="jpaVendorAdapter" /-->
        <beans:property name="persistenceUnitName" 		value="lgmPU"/>
        <beans:property name="jpaProperties">
            <beans:props>
                <beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</beans:prop>
                <beans:prop key="hibernate.FlushMode">always</beans:prop>
            </beans:props>
        </beans:property>
        <beans:property name="loadTimeWeaver">
            <beans:bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver" />
        </beans:property>
    </beans:bean>
    
    <!-- Configuración de cifrado en la base de datos -->
    <beans:bean id="bouncyCastleProvider" class="org.bouncycastle.jce.provider.BouncyCastleProvider"/>
	
    <beans:bean id="randomSalt" class="org.jasypt.salt.RandomSaltGenerator"/>
    <beans:bean id="fixedSalt" class="org.jasypt.salt.FixedStringSaltGenerator">
        <beans:property name="salt" value="!%A7h/3?6!kL=Ww3"/>
    </beans:bean>
		
    <beans:bean id="environmentPBEConfig" class="org.jasypt.encryption.pbe.config.EnvironmentPBEConfig">
        <beans:property name="algorithm" value="PBEWITHSHA256AND256BITAES-CBC-BC"/>
        <beans:property name="keyObtentionIterations" value="1000"/>
        <beans:property name="passwordSysPropertyName" value="jasypt.encryption.password"/>
        <beans:property name="provider" ref="bouncyCastleProvider"/>
    </beans:bean>

    <beans:bean id="cifradorCadenaFuerte" class="org.jasypt.encryption.pbe.PooledPBEStringEncryptor">
        <beans:property name="config" ref="environmentPBEConfig"/>
        <beans:property name="saltGenerator" ref="randomSalt"/>
        <beans:property name="poolSize" value="10"/>
    </beans:bean>

    <beans:bean id="cifradorCadenaHibernate" class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
        <beans:property name="registeredName" value="cifradorCadenaHibernate"/>
        <beans:property name="encryptor" ref="cifradorCadenaFuerte"/>
    </beans:bean>
		
		
    <beans:bean id="fixedEnvironmentPBEConfig" class="org.jasypt.encryption.pbe.config.EnvironmentPBEConfig">
        <beans:property name="algorithm" value="PBEWITHSHA256AND256BITAES-CBC-BC"/>
        <beans:property name="keyObtentionIterations" value="1000"/>
        <beans:property name="passwordSysPropertyName" value="fixed.jasypt.encryption.password"/>
        <beans:property name="provider" ref="bouncyCastleProvider"/>
    </beans:bean>
		
    <beans:bean id="fixedCifradorCadenaFuerte" class="org.jasypt.encryption.pbe.PooledPBEStringEncryptor">
        <beans:property name="config" ref="fixedEnvironmentPBEConfig"/>
        <beans:property name="saltGenerator" ref="fixedSalt"/>
        <beans:property name="poolSize" value="10"/>
    </beans:bean>
	
    <beans:bean id="fixedCifradorCadenaHibernate" class="org.jasypt.hibernate4.encryptor.HibernatePBEStringEncryptor">
        <beans:property name="registeredName" value="fixedCifradorCadenaHibernate"/>
        <beans:property name="encryptor" ref="fixedCifradorCadenaFuerte"/>
    </beans:bean>
  
</beans:beans>
